In [166]:
print("Name : ")
print("We will be cleaning the big data and make a comparison to show who has a healthier heart smokers OR non smokers, uisng a line graph")
print("Also we will be deriviring which age group has the high chances of coronary heart disease in 10 years")

Name :
We will be cleaning the big data and make a comparison to show who has a healthier heart smokers OR non smokers, uisng a line graph
Also we will be deriviring which age group has the high chances of coronary heart disease in 10 years

# Task 1 - Plot a line graph to show the difference between heart rate of smokers and non smokers

In [1]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt
#read the csv
dataframe = pd.read_csv('framingham.csv')
dataframe

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [2]:
#Filter and make a new dataframe for non smokers
non_smokers =

In [3]:
#Group by age column and find average heart rate at different age

In [4]:
#Filter and make a new dataframe for smokers

In [5]:
#Group by age column and find average heart rate at different age

In [6]:
#Plot a line graph to show the heart rate of smokers vs non smokers

Conslusion -

# Task 2 - Which age group have high chances of having coronary heart disease in 10 years

In [7]:
#Read the csv

#Filter and make a new dataframe for those who has chances of having coronary heart disease in 10 years

In [8]:
#Group by age column and count the rows of TenYearCHD column

In [9]:
#Plot a line graph to show total number of people having a chance of coronary heart disease in 10 years

Conslusion -