In [166]:
print("Name : ")
print("We will be cleaning the big data and make a comparison to show who has a healthier heart smokers OR non smokers, uisng a line graph")
print("Also we will be deriviring which age group has the high chances of coronary heart disease in 10 years")

Name :
We will be cleaning the big data and make a comparison to show who has a healthier heart smokers OR non smokers, uisng a line graph
Also we will be deriviring which age group has the high chances of coronary heart disease in 10 years

# Task 1 - Plot a line graph to show the difference between heart rate of smokers and non smokers

In [1]:
#Import libraries
import pandas as pd
import matplotlib.pyplot as plt
#read the csv
df = pd.read_csv('framingham.csv')
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [2]:
#Filter and make a new dataframe for non smokers
non_smokers = df.loc[df['currentSmoker'] == 0]
non_smokers

In [3]:
#Group by age column and find average heart rate at different age
group_non_smokers = groupby('age')['heartRate'].mean()
group_non_smokers

In [4]:
#Filter and make a new dataframe for smokers
smokers = df.loc[df['currentSmoker'] == 1]
smokers

In [5]:
#Group by age column and find average heart rate at different age
group_smokers - groupby('age')['heartRate'].mean()
group_smokers

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

group_non_smokers = groupby('age')['heartRate'].mean()
group_non_smokers

group_smokers - groupby('age')['heartRate'].mean()
group_smokers

#Plot a line graph to show the heart rate of smokers vs non smokers
plt.figure(figsize = (10,8))
age = group_non_smokers('age')
heart_rate = group_non_smokers('heartRate')

plt.plot(age, heart_rate, label = "Heart Rate of Non Smokers", linewidth = 3.0)

age = group_smokers('age')
heart_rate = group_smokers('heartRate')

plt.plot(age, heart_rate, label = "Heart Rate of Smokers", linewidth = 3.0)

plt.xlabel('Age')
plt.ylabel('Heart Rate')

plt.legend()

plt.title()
plt.show()

NameError: name 'groupby' is not defined

Conslusion -

# Task 2 - Which age group have high chances of having coronary heart disease in 10 years

In [3]:
#Read the csv
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('framingham.csv')
df
#Filter and make a new dataframe for those who has chances of having coronary heart disease in 10 years
coronary_heart_disease = df.loc[df['TenYearCHD'] == 1]
coronary_heart_disease

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
15,0,38,2.0,1,20.0,0.0,0,1,0,221.0,140.0,90.0,21.35,95.0,70.0,1
17,0,46,2.0,1,20.0,0.0,0,0,0,291.0,112.0,78.0,23.38,80.0,89.0,1
25,1,47,4.0,1,20.0,0.0,0,0,0,294.0,102.0,68.0,24.18,62.0,66.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4221,1,50,1.0,0,0.0,0.0,0,0,0,260.0,119.0,74.0,21.85,80.0,72.0,1
4223,1,56,4.0,0,0.0,1.0,0,1,0,287.0,149.0,98.0,21.68,90.0,75.0,1
4226,1,58,1.0,0,0.0,0.0,0,0,0,233.0,125.5,84.0,26.05,67.0,76.0,1
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1

In [4]:
#Group by age column and count the rows of TenYearCHD column
group_age = groupby('age')('TenYearCHD').count().reset_index()
group_age

NameError: name 'groupby' is not defined

In [6]:
#Plot a line graph to show total number of people having a chance of coronary heart disease in 10 years
plt.figure(figsize = (10,8))
plt.scatter(xaxis = 'Age', yaxis = 'Ten year CHD', label = 'Age group chances of having coronary heart disease in the next 10 years', color = 'teal', alpha = 0.8, s = 3)

plt.xlabel('Age')
plt.ylabel('Ten Year Coronary Heat Disease')

plt.legend()
plt.title()

plt.show()

TypeError: scatter() missing 2 required positional arguments: 'x' and 'y'

Conslusion -